---
---

// noinspection CssUnknownTarget
@import 'code';

:root {
  --color-dark: #222;
  --color-mute: #999;
  --color-light: #f4f4f4;

  --color-blue: #098cb8;
  --color-blue-hi: #0baedb;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-dark);
  font: 400 1em/1.5 'Source Serif Pro', serif;

  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: 200 1em/1 'Source Sans Pro', sans-serif;

  margin: 1rem 0;
}

h1 {
  border-bottom: 1px solid var(--color-mute);
  font-size: 2.5em;

  padding-bottom: 1rem;
}

h2 {
  font-size: 2.5em;

  margin-top: 2rem;
}

p {
  hyphens: auto;
  text-align: justify;

  margin: 1em 0;
}

a {
  color: var(--color-blue);
  text-decoration: none;

  transition: color 200ms;
}

a:hover {
  color: var(--color-blue-hi);
}

ol, ul {
  margin: 1em 0;
}

img {
  width: 100%;
}

pre.highlight {
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light);

  margin: 1em 0;
  padding: 1em 0;
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  font: 400 0.9em/1.5 'Source Code Pro', monospace;
}

p, li {
  code {
    background-color: var(--color-light);
    border-radius: 3px;

    margin: 0 1px;
    padding: 0 0.2em;
  }
}

.content {
  max-width: 40em;
  margin: auto;
  padding: 1em;
}
